In [6]:
import pandas as pd
drink = pd.read_csv('drinks.csv', index_col=0)

print("Kiểu dữ liệu:")
print(drink.dtypes)

print("\nKích thước:")
print(drink.shape)

print("\nTên các cột:")
print(drink.columns)

print(drink.head())

print(drink.tail())

Kiểu dữ liệu:
country                          object
beer_servings                     int64
spirit_servings                   int64
wine_servings                     int64
total_litres_of_pure_alcohol    float64
continent                        object
dtype: object

Kích thước:
(193, 6)

Tên các cột:
Index(['country', 'beer_servings', 'spirit_servings', 'wine_servings',
       'total_litres_of_pure_alcohol', 'continent'],
      dtype='object')
       country  beer_servings  spirit_servings  wine_servings  \
0  Afghanistan              0                0              0
1      Albania             89              132             54
2      Algeria             25                0             14
3      Andorra            245              138            312
4       Angola            217               57             45

   total_litres_of_pure_alcohol continent
0                           0.0        AS
1                           4.9        EU
2                           0.7        AF
3                          12.4        EU
4                           5.9        AF
       country  beer_servings  spirit_servings  wine_servings  \
188  Venezuela            333              100              3
189    Vietnam            111                2              1
190      Yemen              6                0              0
191     Zambia             32               19              4
192   Zimbabwe             64               18              4

     total_litres_of_pure_alcohol continent
188                           7.7        SA
189                           2.0        AS
190                           0.1        AS
191                           2.5        AF
192                           4.7        AF

In [7]:
#2
bia_tieu_thu = drink.groupby('continent')['total_litres_of_pure_alcohol'].mean()
print(bia_tieu_thu)

continent
AF    3.007547
AS    2.170455
EU    8.617778
OC    3.381250
SA    6.308333
Name: total_litres_of_pure_alcohol, dtype: float64

In [8]:
#3
ruou_vang = drink.groupby('continent')['wine_servings'].describe()
print(ruou_vang)

           count        mean        std  min   25%    50%     75%    max
continent
AF          53.0   16.264151  38.846419  0.0   1.0    2.0   13.00  233.0
AS          44.0    9.068182  21.667034  0.0   0.0    1.0    8.00  123.0
EU          45.0  142.222222  97.421738  0.0  59.0  128.0  195.00  370.0
OC          16.0   35.625000  64.555790  0.0   1.0    8.5   23.25  212.0
SA          12.0   62.416667  88.620189  1.0   3.0   12.0   98.50  221.0

In [10]:
#4
bia = drink.groupby('continent')['beer_servings'].mean()
ruou = drink.groupby('continent')['wine_servings'].mean()

print(bia)
print(ruou)

continent
AF     61.471698
AS     37.045455
EU    193.777778
OC     89.687500
SA    175.083333
Name: beer_servings, dtype: float64
continent
AF     16.264151
AS      9.068182
EU    142.222222
OC     35.625000
SA     62.416667
Name: wine_servings, dtype: float64

In [11]:
#5
gt_trung_vi = drink.groupby('continent')[['beer_servings', 'wine_servings']].median()

print(gt_trung_vi)

           beer_servings  wine_servings
continent
AF                  32.0            2.0
AS                  17.5            1.0
EU                 219.0          128.0
OC                  52.5            8.5
SA                 162.5           12.0

In [12]:
# 6
ruou_manh = drink.groupby('continent')['spirit_servings'].agg(['mean', 'max', 'min'])


print(ruou_manh)

                 mean  max  min
continent
AF          16.339623  152    0
AS          60.840909  326    0
EU         132.555556  373    0
OC          58.437500  254    0
SA         114.750000  302   25

In [13]:
#7
sl_bia_tieu_thu = drink.sort_values('beer_servings')

#quốc gia tiêu thụ bia nhiều nhất
print("5 quốc gia tiêu thụ bia nhiều nhất: ")
print(sl_bia_tieu_thu[['country', 'beer_servings']].nlargest(5, 'beer_servings'))

#quốc gia tiêu thụ bia ít nhất
print("5 quốc gia tiêu thụ bia ít nhất: ")
print(sl_bia_tieu_thu[['country', 'beer_servings']].nsmallest(5, 'beer_servings'))

5 quốc gia tiêu thụ bia nhiều nhất:
            country  beer_servings
117         Namibia            376
45   Czech Republic            361
62            Gabon            347
65          Germany            346
98        Lithuania            343
5 quốc gia tiêu thụ bia ít nhất:
         country  beer_servings
0    Afghanistan              0
40  Cook Islands              0
79          Iran              0
90        Kuwait              0
97         Libya              0