In [2]:
#1,a
import pandas as pd 
stocks1 = pd.read_csv('stocks1.csv')
print(stocks1.head())
print(stocks1.tail())
print("kiểu dữ liệu")
print(stocks1.dtypes)
print(stocks1.info())

       date symbol     open     high      low    close   volume
0  01-03-19   AMZN  1655.13  1674.26  1651.00  1671.73  4974877
1  04-03-19   AMZN  1685.00  1709.43  1674.36  1696.17  6167358
2  05-03-19   AMZN  1702.95  1707.80  1689.01  1692.43  3681522
3  06-03-19   AMZN  1695.97      NaN      NaN  1668.95  3996001
4  07-03-19   AMZN  1667.37  1669.75  1620.51  1625.95  4957017
        date symbol     open     high      low    close   volume
10  01-03-19   GOOG  1124.90  1142.97  1124.75  1140.99  1450316
11  04-03-19   GOOG  1146.99  1158.28  1130.69  1147.80  1446047
12  05-03-19   GOOG  1150.06      NaN      NaN  1162.03  1443174
13  06-03-19   GOOG  1162.49  1167.57  1155.49  1157.86  1099289
14  07-03-19   GOOG  1155.72  1156.76  1134.91  1143.30  1166559
kiểu dữ liệu
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15 entries, 0 to 14
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    15 non-null     object
 1   symbol  15 non-null     object
 2   open    15 non-null     float64
 3   high    13 non-null     float64
 4   low     13 non-null     float64
 5   close   15 non-null     float64
 6   volume  15 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 968.0+ bytes
None

In [10]:
#1,b
stocks2 = pd.read_csv('stocks2.csv')
print(stocks2.head())
print(stocks2.tail())
print("kiểu dữ liệu")
print(stocks2.dtypes)
print(stocks2.info())

       date symbol    open     high     low   close    volume
0  01-03-19     FB  162.60  163.132  161.69  162.28  11097770
1  04-03-19     FB  163.90  167.500  163.83  167.37  18894689
2  05-03-19     FB  167.37  171.880  166.55  171.26  28187890
3  06-03-19     FB  172.90  173.570  171.27  172.51  21531723
4  07-03-19     FB  171.50  171.740  167.61  169.13  18306504
       date symbol    open      high     low   close    volume
5  01-03-19   TSLA  306.94  307.1300  291.90  294.79  22911375
6  04-03-19   TSLA  298.12  299.0000  282.78  285.36  17096818
7  05-03-19   TSLA  282.00  284.0000  270.10  276.54  18764740
8  06-03-19   TSLA  276.48  281.5058  274.39  276.24  10335485
9  07-03-19   TSLA  278.84  284.7000  274.25  276.59   9442483
kiểu dữ liệu
date       object
symbol     object
open      float64
high      float64
low       float64
close     float64
volume      int64
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    10 non-null     object
 1   symbol  10 non-null     object
 2   open    10 non-null     float64
 3   high    10 non-null     float64
 4   low     10 non-null     float64
 5   close   10 non-null     float64
 6   volume  10 non-null     int64
dtypes: float64(4), int64(1), object(2)
memory usage: 688.0+ bytes
None

In [22]:
#1,c
companies = pd.read_csv('companies.csv')
print(companies.dtypes)
print(companies.info())

name                  object
employees              int64
headquarters_city     object
headquarters_state    object
dtype: object
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   name                5 non-null      object
 1   employees           5 non-null      int64
 2   headquarters_city   5 non-null      object
 3   headquarters_state  5 non-null      object
dtypes: int64(1), object(3)
memory usage: 288.0+ bytes
None

In [3]:
df = pd.DataFrame(stocks1)
nan_columns = df.columns[df.isna().any()].tolist()
print('Cột chứa giá trị NaN')
print(nan_columns)

Cột chứa giá trị NaN
['high', 'low']

In [21]:
#3
stocks = pd.concat([stocks1, stocks2], ignore_index=True)

print("15 dòng dữ liệu cuối của stocks:")
print(stocks.tail(15))

15 dòng dữ liệu cuối của stocks:
        date symbol     open       high      low    close    volume
10  01-03-19   GOOG  1124.90  1142.9700  1124.75  1140.99   1450316
11  04-03-19   GOOG  1146.99  1158.2800  1130.69  1147.80   1446047
12  05-03-19   GOOG  1150.06  1167.5700  1155.49  1162.03   1443174
13  06-03-19   GOOG  1162.49  1167.5700  1155.49  1157.86   1099289
14  07-03-19   GOOG  1155.72  1156.7600  1134.91  1143.30   1166559
15  01-03-19     FB   162.60   163.1320   161.69   162.28  11097770
16  04-03-19     FB   163.90   167.5000   163.83   167.37  18894689
17  05-03-19     FB   167.37   171.8800   166.55   171.26  28187890
18  06-03-19     FB   172.90   173.5700   171.27   172.51  21531723
19  07-03-19     FB   171.50   171.7400   167.61   169.13  18306504
20  01-03-19   TSLA   306.94   307.1300   291.90   294.79  22911375
21  04-03-19   TSLA   298.12   299.0000   282.78   285.36  17096818
22  05-03-19   TSLA   282.00   284.0000   270.10   276.54  18764740
23  06-03-19   TSLA   276.48   281.5058   274.39   276.24  10335485
24  07-03-19   TSLA   278.84   284.7000   274.25   276.59   9442483